/* ..................Defult ..basic setup...........  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  font-size: 1.6rem;
}

ul li {
  list-style-type: none;
}

/*.............. heading.............*/
h1 {
  font-size: 4.2rem;
  color: #fff;
  transition: 0.5s;
}
:focus{
  outline: 0;
}

h1:hover {
  transform: scale(1.2);
}

/* .clear-fix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
} */

/* ......................... ..........*/
/* reusable component  */
/* ......................... .............*/

.row {
  max-width: 114rem;
  margin: auto;
}


section {
  padding: 8rem 0rem;
  /* overflow: hidden; */
}
h2 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  /* color: #fff; */
  text-align: center;
}

h2::after {
  content: "";
  display: block;
  height: 0.4rem;
  width: 8.5rem;
  background: #fff;
  margin: auto;
  margin-top: 2rem;
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

h4 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 2.5rem;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
  color: #fff;
}

/* ................ little-description ...........  */

.little-description {
  font-size: 1.8rem;
  width: 60%;
  margin-left: 20%;
  line-height: 3rem;
}

/* ....................button ............  */

.btn:link,
.btn:visited,
.btn {
  background: #333;
  border-bottom: 0.3rem solid #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-top: 4.5rem;
  font-size: 1.6rem;
}

/* ......................... ..........*/
/* header section */
/* ......................... .............*/

header {
  background: linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)),
    url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center-center;
  background-size: cover;
  height: 85vh;
  position: relative;
  background-attachment: fixed;
}
.logo {
  height: 3.5rem;
  width: auto;
  margin-top: 3.5rem;
  float: left;
}
.logo:hover
{
  transform: scale(-1.01);
  /* transform: scale(1.5); */
  transition: 1s;
}
.hero-text-box{
  width: 114rem;
}





/* ...............main_nav.............  */
.main-nav {
  float: right;
  margin-top: 4rem;
}
.main-nav li {
  display: inline-block;
  margin-left: 1rem;
}

.main-nav li:first-child {
  margin-left: 0rem;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(100, 58, 121, 0);
  padding: 0.6rem 1.6rem;
  border-radius: 0.3rem;
  display: inline-block;
  font-size: 1.6rem;
  transition: 0.3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited {
  background: rgba(100, 58, 121, 1);
  transform: scale(1.3);
}

.main-nav li.active a {
  background: rgba(100, 58, 121, 1);
}

/* ----------------------------------- sticky navigation---- */
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(135, 80, 156,0.9);
  padding: 1rem 0 ;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.9);
  z-index: 9999;
  

}
.sticky .logo{ margin-top: 0;}
.sticky .main-nav{margin-top: 2px;}

/* -------------------------------------- */

.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn-hero:link,
.btn-hero:visited {
  background: #eb7d4b;
  border-color: #c86a40;
}

/* ................... SERVICES SECTION .............  */

/* background:linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)),url('img/hero-bg.jpg'); */

.services-section {
  background: linear-gradient(rgba(23, 194, 164, 0.9), rgba(23, 194, 164, 0.9)),
    url("img/services-bg.jpg");
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center-top;
  background-size: cover;
}

.services-section h2::after {
  background: #14a58c;
}

.services-icon {
  height: 12rem;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
}

/* .................................... Team Service Section ..........................  */

.team-section {
  text-align: center;
  background: linear-gradient(
      rgba(231, 241, 248, 0.9),
      rgba(231, 241, 248, 0.9)
    ),
    url("img/team-bg.jpg");
  background-repeat: no-repeat;
  background-position: center-top;
  background-size: cover;
  background-attachment: fixed;
}
.team-section h2 {
  color: #3c4761;
}
.team-section h2::after {
  background: #c8d9e5;
}

.team-member {
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.team-section h3 {
  color: #27283d;
}
.role {
  color: #30bae7;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 1rem;
  display: inline-block;
}
.team-section .box p {
  color: #3c4761;
}
.social-link {
  margin-top: 4.5rem;
}
.social-link ul li {
  display: inline-block;
  margin: 0 0.5rem;
  margin-top: 4.5rem;
}
.social-link ul li a:link {
  color: white;
}

.social-link ul li a:link i::before {
  background: #bdd1df;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border-radius: 50%;
  display: inline-block;
  padding: 1rem;
  transition: 0.5s;
}
.social-link ul li a:hover i::before {
  background: #333;
  transform: rotate(360deg);
}
.social-link, .fa, .fab, .fal, .far, .fas{
  color: #fff;
  
}
/* .................................................................. SKILL SECTION..........................  */
/* ....................................................................------------------.........................  */

.skill-section {
  /* color: #3c4761; */
  text-align: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("img/skill-bg.jpg");
  background-repeat: no-repeat;
  /* background-position: center-top; */
  background-size: cover;
  /* background-attachment: fixed; */
}
.skill-section h2,
.skill-section h3 {
  color: #3c4761;
}

.skill-section h2::after {
  background: #dfe8ed;
}

.skill-section .box {
  margin-top: 4.5rem;
}
svg.radial-progress circle {
  stroke-width: 5;
}
svg.radial-progress text {
  fill: #3c4761;
  font-size: 1.5rem;
}

svg.web-design circle {
  stroke: #30bae7;
}
svg.html-css circle {
  stroke: #d74680;
}
svg.graphic-design circle {
  stroke: #15c7a8;
}
svg.ui-ux circle {
  stroke: #eb7d4b;
}

/* * .................................................................. portfolio SECTION..........................  */
*/
/* ....................................................................------------------.........................  */


.portfolio-section h2 {
   color: #3c4761;
   
}

.portfolio-section h2::after {
  background: #e5c37f;

  
     
}
.portfolio-section {
  text-align: center;

  background: linear-gradient(
      rgba(255, 221, 153, 0.9),
      rgba(255, 221, 153, 0.9)
    ),
    url("img/portfolio-bg.jpg");
  background-repeat: no-repeat;
  background-position: center, center;
  block-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.portfolio-filter {
  margin: 4.5rem;
}
.portfolio-filter button {
  background: #ebc985;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: #3c4761;
  margin: 0 0.5rem;
  transition: 0.3s;
}

.portfolio-filter button:hover {
  cursor: pointer;
  box-shadow: inset 0 0.3rem 1.5rem rgba(60, 71, 97, 0.5);
}
.portfolio-image {
  height: auto;
  width: 100%;
}

.portfolio-section .col:nth-child(3) {
  margin-left: 0em;
}

.portfolio-section .btn-load-more {
  background: #17c2a4;
  background-color: #14a58c;
}
.portfolio-section .mixitup-control-active {
  background: #fff;
}

/* ....................................................................................... testomonial section.............  */


.testimonal{
    background: linear-gradient(rgba(275,70,128,0.9),rgba(275,70,128,0.9)) ,url('img/testimonial-bg.jpg'); 
    background-attachment: fixed;
    background-position: center,center ;
    background-size: cover;
    text-align: center;
}

.testimonal .little-description {
    text-align: center;
    color: #fff;
}
.testimonal .col:nth-child(3) {
    margin-left: 0;
}
.testimonal .col:nth-child(1),
.testimonal .col:nth-child(2){
    margin-top: 4rem;
}
.testimonal .col:nth-child(3),
.testimonal .col:nth-child(4){
    margin-top: 8rem;
}


.client-photo{
    width: 10rem;
    float: left;
}
.client-photo img{
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}
.client-review{
    width: 35rem;
    float: left;
    margin-bottom: 2rem;

}
.client-review p{
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
}
.client-review .role {
    color: #ffdd99;
}
/* ------------------------------------------------------ contact-section---- */
.contact-section{
  background:linear-gradient(rgb(60, 84, 153,0.9),rgb(60, 84, 153,0.9)), url(img/contact-bg.jpg);
  /* background: #3c5499; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 20%;
  text-align: center;
}
.contact-section h2{ color: #fff;}
.contact-section h2::after
{
  background: #273a71;
}
.contact-section .little-description
{
  color: #fff;
}
.contact-section form{
  margin-top: 5rem;
  border: 5px solid red;
  width: 70%;
  margin-left: 15%;
}
.contact-section textarea
{
  height: 200px;
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
  background:#273a71 ;
  border: .1rem solid #273a71 ;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  color: white;
  margin: 1rem 0;
}
.contact-section form ::placeholder{
 color: greenyellow;
 opacity: 0.9;
}
.contact-section .btn-submit
{
  border: 0;
  border-bottom: .3rem solid #299ec5;
  background: #20bae7;
  cursor: pointer;
  margin-bottom: 15px;
}
/* ----------------------- footer-section --------- */
.footer-section{
  background: #344b8e;
  padding: 3rem 0;
  text-align: center;
  border-top: 1px solid rgb(255, 255, 255, 0.3);
}
.footer-section li{
  display: inline-block;
  margin: 0 2rem;
}
.footer-section li a{
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2.4rem;
}
.footer-section li:hover a{
  color: #30bae7;
}